.video-playlist-card {
    background: #31394E;
    width: 440px;
    height: 300px;

    .card-header {
        padding: 20px;
        position: relative;
        border-bottom: 2px solid #3E4460;
        .title {
            color: #fff;
            float: left;
            font-size: 14px;
            margin-right: 10px;
        }

        .number {
            font-size: 14px;
            line-height: 20px;
            color: #6E7483;
            font-weight: bold;
        }

        .icon {
            .more-icon {
                background: url('../../assets/more-btn.png') no-repeat;
                width: 30px;
                height: 30px;

                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }
}
