<!--<div class="video-playlist-card">-->
<!--    <div class="card-header">-->
<!--        <div class="title">playlist videos</div>-->
<!--        <div class="number">14</div>-->
<!--        <div class="icon">-->
<!--            <div class="more-icon"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--        <ul class="videos">-->
<!--            <li>-->
<!--                <div class="number">1</div>-->
<!--                <div class="video-name">this is a test</div>-->
<!--                <div class="channel-name">channel name</div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->


<div class="video-list">
    <div class="header">
        <div class="title">playlist</div>
        <div class="number">14</div>

    </div>
</div>
